@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono';
}

body {
    background-color: #060A14;
    display: grid;
    place-items: center;
    margin-top: 140px;
    user-select: none;
}

.main {
    height: 400px;
    min-height: 400px;
    max-height: 400px;

    width: 100%;
    min-width: 650px;
    max-width: 650px;

    border: 2px solid #232D3B;
    background-color: #192534;

    overflow: hidden;
}

.main .topHeader {
    display: flex;
    float: left;

    height: 30px;
    width: fit-content;
}

/* topHeader 's items */
.topHeader div {
    display: flex;

    color: white;
    font-size: medium;
    background: rgba(100, 100, 100, 0.2);
    transition: all 0.2s ease;

    text-align: left;
    overflow: hidden;

    padding-left: 5px;
    padding-right: 10px;
}

.topHeader div span {
    padding: 2px 2px;
    text-decoration: none;
    padding-top: 2px;
    user-select: none;
}

.topHeader div:hover {
    background: rgba(100, 100, 100, 0.4);
    transition: all 0.2s ease;
}

.controls {
    display: flex;
    float: right;
    overflow: hidden;

    color: white;
    user-select: none;
    align-items: center;
}

.controls div {
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.2s ease;
}

.controls div:hover {
    background: rgba(100, 100, 100, 0.4);
    transition: all 0.2s ease;
}

.controls .close:hover {
    background: rgba(255, 0, 0, 0.8);
    transition: all 0.2s ease;
}

.urlBar {
    display: flex;
    background-color: rgba(100, 100, 100, 0.4);
    height: 30px;
    width: 100%;
}

.urlBar .urlBarControls {
    display: flex;
    float: left;
    color: gray;
    padding-left: 5px;
    padding-top: 2px;
}

.urlBar .urlBarControls .pageBack {
    padding-right: 2px;
    padding-top: 2px;
}

.urlBar .urlBarControls .pageForward {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}

.urlBar .urlBarControls .pageReload {
    color: white;
    padding-left: 2px;
    padding-top: 2px;
}

.urlBar .urlBarControls .pageToHome {
    color: white;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
}

.urlBar .urlBarContent {
    display: flex;
    height: 25px;
    width: 100%;
    margin: 0 auto;
    text-align: left;

    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    margin-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
}

.urlBar .urlBarContent .barHTTPInfo {
    padding-right: 5px;
    float: left;
}

.urlBar .urlBarContent .barText {
    padding-top: 2px;
    float: left;
}

.urlBar .urlBarContent .barFlag {
    width: 100%;
    text-align: right;
}

.urlBar .sideControls {
    display: flex;
    float: right;
    color: white;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 5px;
}






.contentWrapper {
    position: relative;
    overflow: hidden;

    background-color: #192534;
    height: 340px;
    width: 100%;

    top: 2px;
}



/* home content */
.contentWrapper .homeContent {
    display: flex;
    position: absolute;

    height: 100%;
    width: 100%;
    background-color: #090F1F;
}

.contentWrapper .homeContent .content {
    height: 334px;
    width: 100%;
    border: 2px solid white;
}

.contentWrapper .homeContent .content .myIcon {
    height: 214px;
    width: 214px;
    border: 2px solid white;
}

.contentWrapper .homeContent .content .socials {
    color: white;
    width: 218px;
    border: 2px solid rgb(255, 255, 255);
}

.contentWrapper .homeContent .content .socials tr td {
    color: white;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
}

.contentWrapper .homeContent .content .socials tr td a {
    text-decoration: underline;
    color: white;
}

.contentWrapper .homeContent .content .socials tr .githubText {
    font-size: x-small;
}

.contentWrapper .homeContent .content .socials tr .discordUsername {
    font-size: x-small;
}


/* about content */
.contentWrapper .homeContent .about {
    height: 334px;
    width: 100%;
    border: 2px solid white;
    overflow-y: hidden;
}

.contentWrapper .homeContent .about .someInformation {
    color: white;
    padding: 5px;
    font-size: smaller;
}


/* info content */
.contentWrapper .homeContent .info {
    height: 334px;
    width: 100%;
    border: 2px solid white;
}

.contentWrapper .homeContent .info .infoText {
    color: white;
    padding: 5px;
    font-size: smaller;
    border: 2px solid white;
}

.contentWrapper .homeContent .info .infoRandom {
    color: white;
    padding: 5px;
    font-size: smaller;
    border: 2px solid white;
}



/* comms content */
.contentWrapper .commsContent {
    position: absolute;
    overflow: hidden;
    display: flex;

    height: 100%;
    width: 100%;
    background-color: #090F1F;
}

.contentWrapper .commsContent .gfxPlans {
    position: relative;
    height: 334px;
    width: 100%;
    border: 2px solid white;
}

.contentWrapper .commsContent .gfxPlans .gfxExamples {
    height: 177.75px;
    width: 316px;
    border: 2px solid white;
}

.contentWrapper .commsContent .gfxPlans .gfxText {
    color: white;
    padding-left: 5px;
    border: 2px solid white;
}

.contentWrapper .commsContent .gfxPlans .gfxText .gfxAdHeader {
    font-size: 14px;
    text-decoration: underline;
}

.contentWrapper .commsContent .gfxPlans .gfxText .gfxAdContent {
    font-size: 12px;
}

.contentWrapper .commsContent .artPlans {
    position: relative;
    height: 334px;
    width: 100%;
    border: 2px solid white;
}

.contentWrapper .commsContent .artPlans .artExamples {
    height: 177.75px;
    width: 316px;
    border: 2px solid white;
}

.contentWrapper .commsContent .artPlans .artText {
    color: white;
    padding-left: 5px;
    border: 2px solid white;
}

.contentWrapper .commsContent .artPlans .artText .artAdHeader {
    font-size: 14px;
    text-decoration: underline;
}

.contentWrapper .commsContent .artPlans .artText .artAdContent {
    font-size: 12px;
}



.contentWrapper .rulesContent {
    position: absolute;
    overflow: hidden;
    display: flex;

    height: 100%;
    width: 100%;
    background-color: #090F1F;
}

.contentWrapper .rulesContent .commRuleSection {
    height: 334px;
    width: 100%;

    color: white;
    border: 2px solid white;
}

.contentWrapper .rulesContent .commRuleSection .commRuleHeader {
    display: block;
    height: fit-content;
    width: 316.6px;
    text-align: center;
    border: 2px solid white;
}

.contentWrapper .rulesContent .commRuleSection .commRuleText {
    display: flex;
    font-size: smaller;
    padding: 5px;
}

.contentWrapper .rulesContent .workRuleSection {
    height: 334px;
    width: 100%;

    color: white;
    border: 2px solid white;
}

.contentWrapper .rulesContent .workRuleSection .workRuleHeader {
    display: block;
    height: fit-content;
    width: 316.6px;
    text-align: center;
    border: 2px solid white;
}

.contentWrapper .rulesContent .workRuleSection .workRuleText {
    display: flex;
    font-size: smaller;
    padding: 5px;
}




/* copyright */
.panniku {
    position: relative;
    color: white;
    opacity: 0.4;
    bottom: 23.4px;
    left: 2px;
    font-size: small;
}

.panniku .c {
    font-size: large;
    padding-left: 2px;
}

.zoomWarning {
    width: 100%;
    color: white;
    text-align: left;
    margin-left: 150px;
    font-size: x-small;
}
